@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --secundary-color: rgb(13, 13, 13);
}

* {
  padding: 0rem;
  margin: 0rem;
}

body {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

header {
  padding: 0.6rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secundary-color);
}

.header-img {
  max-width: 70px;
}

.header-right-side {
  width: 35%;
}

.header-nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links-list {
  list-style: none;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-links-list > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.menu-hamburguer {
  color: white;
  display: none;
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 40%;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #242424;
  padding: 2rem;
}

.header-nav-bar-mobile {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-links-list-mobile {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.header-links-list-mobile > li {
  margin-bottom: 1.3rem;
}

.header-links-list-mobile > li > a {
  list-style: none;
  color: white;
  text-decoration: none;
  margin-bottom: 2rem;
}

#home {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url(imagens/background-tamplate-furia.png);
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.home-left-side {
  width: 50%;
  height: 100%;
  padding: 0rem 0rem 0rem 5rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

.home-left-side > h1 {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

.atention {
  color: #0090e3;
}

.home-left-side > h4 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  color: #dcdcdc;
}

#sobre {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(imagens/time-furia-transforme.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sobre-left-side {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem 0rem 5rem;
  background-color: rgba(0, 0, 0, 0.859);
  color: white;
  overflow: hidden;
}

.sobre-right-side {
  width: 60%;
  height: 100%;
}

.title-sobre {
  font-size: 1.9rem;
  padding: 5rem 0rem 2rem;
}

.content-p {
  font-size: 0.95rem;
  margin-bottom: 2rem;
}

#novidades {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(
    to bottom right,
    black,
    #141414,
    #242424,
    rgb(52, 52, 52)
  );
}

.novidades-left-size {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.novidades-image {
  width: 500px;
}

.novidades-right-side {
  width: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 60%;
  height: 60%;
  padding: 5rem 2rem;
  color: white;
  background-color: rgb(42, 42, 42);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 1px 4px 30px 8px #141414;
  overflow: hidden;
}

.copy-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.copy-card > h2 {
  font-size: 2rem;
}

.inputs {
  width: 85%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* background-color: blue; */
  margin: 2rem 0rem 0rem 0rem;
}

.label {
  margin: 0rem 0rem 0.5rem;
}

.input {
  width: 92%;
  padding: 1.2rem;
  margin: 0rem 0rem 2rem 0rem;
  border-radius: 4px;
  border: none;
  font-size: 1.12rem;
  background-color: rgb(79, 79, 79);
  color: white;
}

.input:focus {
  outline: none;
}

.card-button {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  padding: 2rem;
  margin: 1rem 0rem 2rem 0rem;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: white;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secundary-color);
  padding: 2rem 4rem;
  color: white;
}

#footer > p > a {
  color: rgb(122, 177, 249);
}

.hidden {
  display: none;
}

@media (max-width: 1441px) {
  .home-left-side > h1 {
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
  }

  .home-left-side > h4 {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
  }

  .title-sobre {
    font-size: 1.4rem;
    padding: 5rem 0rem 2rem;
  }

  .content-p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .copy-card > h2 {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
  }

  .copy-card > p {
    font-size: 0.8rem;
  }
}

@media (max-width: 1025px) {
  .header-img {
    max-width: 50px;
  }

  .header-right-side {
    width: 40%;
  }

  .header-links-list {
    justify-content: space-between;
  }

  .header-links-list > li > a {
    font-size: 1rem;
  }

  .home-left-side > h1 {
    font-size: 2rem;
    margin-bottom: 1.3rem;
  }

  .home-left-side > h4 {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
  }

  .title-sobre {
    font-size: 1.3rem;
    padding: 5rem 0rem 2rem;
  }

  .content-p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  .novidades-image {
    width: 400px;
  }

  .novidades-right-side {
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 80%;
    margin-right: 4rem;
  }

  .copy-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .copy-card > h2 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }

  .copy-card > p {
    font-size: 0.8rem;
  }

  .inputs {
    width: 85%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    /* background-color: blue; */
    margin: 2rem 0rem 0rem 0rem;
  }

  .label {
    font-size: 0.9rem;
    margin: 0rem 0rem 0.5rem;
  }

  .input:focus {
    outline: none;
  }

  .card-button {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    padding: 2rem;
    margin: 1rem 0rem 2rem 0rem;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: white;
  }
}

@media (max-width: 769px) {
  .header-right-side {
    display: none;
  }

  .menu-hamburguer {
    display: block;
  }

  #sobre {
    display: flex;
    justify-content: center;
  }
  .sobre-right-side {
    display: none;
  }

  .sobre-left-side {
    width: 70%;
    padding: 0rem 2rem 0rem 2rem;
  }

  .title-sobre {
    font-size: 1.5rem;
    padding: 5rem 0rem 2rem;
  }

  .content-p {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  #novidades {
    flex-direction: column;
  }

  .novidades-left-size {
    justify-content: center;
    align-items: center;
    display: none;
  }

  .novidades-right-side {
    width: 70%;
    height: 100%;
  }

  .card {
    width: 100%;
    margin: 0px;
  }

  .copy-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .copy-card > h2 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }

  .copy-card > p {
    font-size: 0.8rem;
  }
}

@media (max-width: 426px) {
  header {
    padding: 0.6rem 3em;
  }

  .home-left-side {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }

  .home-left-side > h1 {
    font-size: 1.7rem;
    margin-bottom: 1.3rem;
  }

  .home-left-side > h4 {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
  }

  .title-sobre {
    font-size: 2rem;
    padding: 5rem 0rem 2rem;
  }

  .content-p {
    font-size: 0.6rem;
    margin-bottom: 2rem;
    margin-left: 1.7rem;
  }

  .novidades-right-side {
    width: 100%;
    height: 100%;
  }

  .card {
    width: 70%;
    margin: 0px;
  }

  .copy-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .copy-card > h2 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }

  .copy-card > p {
    font-size: 0.8rem;
  }
}

@media (max-width: 376px) {
  header {
    padding: 0.6rem 3em;
  }

  .home-left-side {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }

  .home-left-side > h1 {
    font-size: 1.7rem;
    margin-bottom: 1.3rem;
  }

  .home-left-side > h4 {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
  }

  .title-sobre {
    font-size: 2rem;
    padding: 5rem 0rem 2rem;
  }

  .content-p {
    font-size: 0.6rem;
    margin-bottom: 2rem;
    margin-left: 1.7rem;
  }

  .novidades-right-side {
    width: 100%;
    height: 100%;
  }

  .card {
    width: 70%;
    margin: 0px;
  }

  .copy-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .copy-card > h2 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }

  .copy-card > p {
    font-size: 0.8rem;
  }
}
